.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.react-tabs__tab {
  padding: 10px;
  margin: 20px;
  width: fit-content;
  list-style: none;
  justify-items: center;
  text-align: center;
  color: rgba(255,255,255,0.8);
  flex: auto;
  cursor: pointer;
  
}

.react-tabs__tab--selected {
  background: rgba(255,220,180,0.7);
  border-color: #aaa;
  color: black;
}

.react-tabs__tab--disabled {
  color: white;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 15px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: rgba(255,220,180,0.7);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
